# compiled output
/api/dist
/api/node_modules

# Logs
/api/logs
/api/*.log
/api/npm-debug.log*
/api/pnpm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/api/lerna-debug.log*

# OS
/api/.DS_Store

# Tests
/api/coverage
/api/.nyc_output

# IDEs and editors
/api/.idea
/api/.project
/api/.classpath
/api/.c9/
/api/*.launch
/api/.settings/
/api/*.sublime-workspace

# IDE - VSCode
/api/.vscode/*
/api/!.vscode/settings.json
/api/!.vscode/tasks.json
/api/!.vscode/launch.json
/api/!.vscode/extensions.json

# Dados Locais
/data

# .env utilizados
# /.dotenv_files
/.dotenv_files/.env.developement.local
/.dotenv_files/.env.production
/frontend/.env
/api/.env

# FRONTEND
# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log

# IDEs and editors
/frontend/.idea/
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

# Visual Studio Code
/frontend/.vscode
/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json
/frontend/.history/*

# Miscellaneous
/frontend/.angular/cache
/frontend/.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# System files
/frontend/.DS_Store
/frontend/Thumbs.db
